In [1]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('books.db')
pd.options.display.max_columns = 10
print("Authors Table Contents")
print(pd.read_sql('SELECT * FROM authors', connection, index_col=['id']))
print("\nTitles Table Contents")
print(pd.read_sql('SELECT * FROM titles', connection))
print("\nid and isbn composite primary key")
print(pd.read_sql('SELECT * FROM author_ISBN', connection))
print("\nFirst and Last Names from authors")
print(pd.read_sql('SELECT first, last FROM authors', connection))
print("\nWHERE Clause")
print(pd.read_sql("""SELECT title, edition, copyright FROM titles WHERE copyright > '2016'""", connection))
print("\nZero or more Characters")
print(pd.read_sql("""SELECT id, first, last FROM authors WHERE last LIKE 'D%'""",connection, index_col=['id']))
print("\n Pattern Matching any character")
print(pd.read_sql("""SELECT id, first, last FROM authors WHERE first LIKE '_b%'""",connection, index_col=['id']))
print("ORDER BY")
print(pd.read_sql('SELECT title FROM titles ORDER BY title ASC',connection))
print("\nsort the authors’ names by last name, then by first name for "
      "any authors who have the same last name")
print(pd.read_sql("""SELECT id, first, last FROM authors ORDER BY last, first""",connection, index_col=['id']))
print("\nsort the authors in descending order by last name and ascending order by first name "
      "for any authors who have the same last name:")
print(pd.read_sql("""SELECT id, first, last FROM authors ORDER BY last DESC, first ASC""",connection, index_col=['id']))
print("\n WHERE and ORDER BY")
print(pd.read_sql("""SELECT isbn, title, edition, copyright FROM titles WHERE title LIKE '%How to Program'ORDER BY title""", connection))
print("Inner Join")
print(pd.read_sql("select first, last, isbn from authors inner join"
                  " author_ISBN on authors.id = author_ISBN.id order by last,first", connection).head())

print("INSERT STATEMENT")
cursor = connection.cursor()
cursor = cursor.execute("""INSERT INTO authors (first, last) VALUES ('Sue', 'Red')""")
print(pd.read_sql("select id,first, last from authors",connection, index_col = ['id']))
print("UPDATE STATEMENT")
cursor = cursor.execute("""UPDATE authors SET last='Black' WHERE last='Red' AND first='Sue'""")
print(pd.read_sql("select * from authors",connection, index_col = ["id"]))
print("Row Count", cursor.rowcount)
print("DELETE A ROW")
cursor = cursor.execute('DELETE FROM authors WHERE id=6')
print(pd.read_sql('SELECT id, first, last FROM authors',connection, index_col=['id']))
connection.close()

Authors Table Contents
        first    last
id
1        Paul  Deitel
2      Harvey  Deitel
3       Abbey  Deitel
4         Dan   Quirk
5   Alexander    Wald

Titles Table Contents
         isbn                             title  edition copyright
0  0135404673     Intro to Python for CS and DS        1      2020
1  0132151006     Internet & WWW How to Program        5      2012
2  0134743350               Java How to Program       11      2018
3  0133976890                  C How to Program        8      2016
4  0133406954  Visual Basic 2012 How to Program        6      2014
5  0134601548          Visual C# How to Program        6      2017
6  0136151574         Visual C++ How to Program        2      2008
7  0134448235                C++ How to Program       10      2017
8  0134444302            Android How to Program        3      2017
9  0134289366         Android 6 for Programmers        3      2016

id and isbn composite primary key
    id        isbn
0    1  0134289366
1    2  0134289366
2    5  0134289366
3    1  0135404673
4    2  0135404673
5    1  0132151006
6    2  0132151006
7    3  0132151006
8    1  0134743350
9    2  0134743350
10   1  0133976890
11   2  0133976890
12   1  0133406954
13   2  0133406954
14   3  0133406954
15   1  0134601548
16   2  0134601548
17   1  0136151574
18   2  0136151574
19   4  0136151574
20   1  0134448235
21   2  0134448235
22   1  0134444302
23   2  0134444302

First and Last Names from authors
       first    last
0       Paul  Deitel
1     Harvey  Deitel
2      Abbey  Deitel
3        Dan   Quirk
4  Alexander    Wald

WHERE Clause
                           title  edition copyright
0  Intro to Python for CS and DS        1      2020
1            Java How to Program       11      2018
2       Visual C# How to Program        6      2017
3             C++ How to Program       10      2017
4         Android How to Program        3      2017

Zero or more Characters
     first    last
id
1     Paul  Deitel
2   Harvey  Deitel
3    Abbey  Deitel

 Pattern Matching any character
    first    last
id
3   Abbey  Deitel
ORDER BY
                              title
0         Android 6 for Programmers
1            Android How to Program
2                  C How to Program
3                C++ How to Program
4     Internet & WWW How to Program
5     Intro to Python for CS and DS
6               Java How to Program
7  Visual Basic 2012 How to Program
8          Visual C# How to Program
9         Visual C++ How to Program

sort the authors’ names by last name, then by first name for any authors who have the same last name
        first    last
id
3       Abbey  Deitel
2      Harvey  Deitel
1        Paul  Deitel
4         Dan   Quirk
5   Alexander    Wald

sort the authors in descending order by last name and ascending order by first name for any authors who have the same last name:
        first    last
id
5   Alexander    Wald
4         Dan   Quirk
3       Abbey  Deitel
2      Harvey  Deitel
1        Paul  Deitel

 WHERE and ORDER BY
         isbn                             title  edition copyright
0  0134444302            Android How to Program        3      2017
1  0133976890                  C How to Program        8      2016
2  0134448235                C++ How to Program       10      2017
3  0132151006     Internet & WWW How to Program        5      2012
4  0134743350               Java How to Program       11      2018
5  0133406954  Visual Basic 2012 How to Program        6      2014
6  0134601548          Visual C# How to Program        6      2017
7  0136151574         Visual C++ How to Program        2      2008
Inner Join
    first    last        isbn
0   Abbey  Deitel  0132151006
1   Abbey  Deitel  0133406954
2  Harvey  Deitel  0134289366
3  Harvey  Deitel  0135404673
4  Harvey  Deitel  0132151006
INSERT STATEMENT
        first    last
id
1        Paul  Deitel
2      Harvey  Deitel
3       Abbey  Deitel
4         Dan   Quirk
5   Alexander    Wald
6         Sue     Red
UPDATE STATEMENT
        first    last
id
1        Paul  Deitel
2      Harvey  Deitel
3       Abbey  Deitel
4         Dan   Quirk
5   Alexander    Wald
6         Sue   Black
Row Count 1
DELETE A ROW
        first    last
id
1        Paul  Deitel
2      Harvey  Deitel
3       Abbey  Deitel
4         Dan   Quirk
5   Alexander    Wald